# RewriteEngine Off
# Temporarily disabled so you can type .php directly
# RewriteEngine On
# RewriteCond %{REQUEST_URI} !^/Iscag/public/
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ public/index.php [QSA,L]
